.react-multiple-carousel__arrow{
    background-color: white !important;
    border: 1px solid #3AAE2A80 !important;
    opacity: 50%;
    width: 50px!important;
    height: 50px!important;
    
} 

.react-multiple-carousel__arrow--right{
    right: calc(13% + 1px)!important;
    background-image: url('/Group 39570.png')!important;
    background-repeat: no-repeat!important;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    background-position: center!important;
}


.react-multiple-carousel__arrow--left{
    /* background-color: red!important; */
    background-image: url('/Group 395701.png')!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    right: 100px!important;
    left: calc(13% + 1px)!important;
}


.react-multi-carousel-list{
    position: static!important;
}
.react-multi-carousel-item{
    width: 273!important;
}